{% extends "shared/navbar.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block sourcescss %}
    <link href="../../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/assets/css/style.css" rel="stylesheet">
{% endblock %}

{% block sourcesjs %}
    <script src="../../static/assets/vendor/aos/aos.js"></script>
    <script src="../../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../../static/assets/vendor/purecounter/purecounter.js"></script>
    <script src="../../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../static/assets/vendor/jquery/jquery-3.6.0.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../../static/assets/js/index.js"></script>
    <script src="../../static/assets/js/navbar.js"></script>
    <script src="../../static/assets/js/otros/configSys.js"></script>
{% endblock %}


{% block body %}


    <section id="contact" class="login d-flex align-items-center">


        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>VICERI</h2>
                <p>Configuraciones generales</p>
            </header>

            <div class="row justify-content-center">
                <div class=" col-lg-8 php-email-form">
                    <div class="overflow-auto" style="max-height: 400px">
                        <table class="table table-striped table-hover" style="background-color: white">
                            <thead class="header-table-orange">
                            <tr style=" position: sticky; top: 0; ">
                                <th scope="col">Key</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Unidad</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in range(0, len) %}
                                {% set count =  i + 1 %}
                                <tr>
                                    <th scope="row">{{ configs[i].key }}</th>
                                    <td>{{ configs[i].value }}</td>
                                    <td>{{ configs[i].unit }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>

                    </div>

                    {% if user_type == 1 %}
                        <div class="col-md-12 text-center input-style">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="d-flex justify-content-center align-items-center" style="margin-top: 3rem; ">
                                <div style="margin-right: 20px">
                                    <select id="sys_key" class="form-control" required>
                                        <option value="-1" selected>Seleccione tipo de configuración</option>
                                        {% for i in range(0, len) %}
                                            <option value="{{ configs[i].key }}">{{ configs[i].key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div style="margin-right: 20px">
                                    <input id="sys_unit" type="text" class="form-control"
                                           placeholder="Cantidad"
                                           data-role="tagsinput"/>
                                </div>
                                <div>
                                    <button type="button" onclick="ConfidEdit()">Editar
                                    </button>
                                </div>

                            </div>

                        </div>
                    {% endif %}


                </div>

            </div>
            </div>

    </section><!-- End Contact Section -->
    <script>
        $(document).ready(function () {
            clean_navbar();
            navbar_update(13);
            navbar_update(14);
        });
    </script>

{% endblock %}

