{% extends "shared/navbar.html" %}

{% block title %}
    <title>Lista de usuario de routers</title>
{% endblock %}

{% block sourcescss %}
    <link href="../../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/assets/css/style.css" rel="stylesheet">
{% endblock %}

{% block sourcesjs %}
    <script src="../../static/assets/vendor/aos/aos.js"></script>
    <script src="../../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../../static/assets/vendor/purecounter/purecounter.js"></script>
    <script src="../../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../static/assets/vendor/jquery/jquery-3.6.0.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../../static/assets/js/index.js"></script>
    <script src="../../static/assets/js/navbar.js"></script>
    <script src="../../static/assets/js/routerUser/routerUserList.js"></script>
{% endblock %}


{% block body %}


    <section id="contact" class="login d-flex align-items-center">


        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>VICERI</h2>
                <p>Lista de usuario de routers</p>
            </header>

            <div class="row justify-content-center">
                <div class=" col-lg-8 php-email-form">
                    <table class="table table-striped table-hover" style="background-color: white">
                        <thead class="header-table-orange">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            {% if user_type == 1 %}
                                <th scope="col">Tipo usuario</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Eliminar</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in range(0, len) %}
                            {% set count =  i + 1 %}
                            <tr>
                                <th scope="row">{{ count }}</th>
                                <td>{{ users[i].user_name }}</td>
                                {% if user_type == 1 %}
                                    <td> {% if users[i].user_type == 15 %} admin {% else %} lectura {% endif %} </td>
                                    <td class="text-center">
                                        <a href="/update_view_router_user/{{ users[i].id }}" type="button"
                                           class="btn btn-success">Editar
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a onclick="openModal(); setId({{ users[i].id }})" type="button"
                                           class="btn btn-danger">Eliminar
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    {% if user_type == 1 %}
                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="button" onclick="window.location.href='/add_view_router_user';">Crear nuevo
                                usuario
                            </button>
                        </div>
                        </div>
                    {% endif %}
            </div>


        </div>


    </section><!-- End Contact Section -->


    <!-- Modal -->
    <div class="modal fade " id="modelDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Credenciales</h5>
                </div>
                <div class="modal-body">
                    <div class="row gy-4">
                        <div class="col-md-12">
                            <select id="access_user" class="form-control" required>
                                <option value="-1" selected>Seleccione el usuario de acceso</option>
                                {% for i in range(0, len) %}
                                    <option value="{{ users[i].user_name }}">{{ users[i].user_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <input id="access_password" type="password" class="form-control"
                                   name="subject"
                                   placeholder="Password del usuario de acceso" required>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="unsetId()">Cerrar
                    </button>
                    <button type="button" class="btn btn-danger" onclick="dropRouterUser(getId())">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            clean_navbar();
            navbar_update(1);
            {% if user_type==1 %}
                navbar_update(6);
                navbar_update(7);
            {% else %}
                navbar_update(5);
                navbar_update(6);
            {% endif %}

        });
    </script>

{% endblock %}

