{% extends "navbar.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block sourcescss %}
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet">
{% endblock %}

{% block sourcesjs %}
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/purecounter/purecounter.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/jquery/jquery-3.6.0.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/index.js"></script>

    <script src="../static/assets/js/appsuser/appuser.js"></script>
{% endblock %}


{% block body %}


    <section id="contact" class="login d-flex align-items-center">


        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>VICERI</h2>
                <p>Actualizar información</p>
            </header>

            <div class="row justify-content-center">


                <div class="col-lg-6">
                    <form action="" method="post" class="php-email-form">
                        <div class="row gy-4">

                            <div class="col-md-12">
                                <input id="email" type="text" name="name" class="form-control"
                                       placeholder="email" required>
                            </div>

                            <div class="col-md-12">
                                <input value="nopassword" id="password" type="password" class="form-control" name="subject"
                                       placeholder="Password" required>
                            </div>


                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>

                                <button type="button" id="btn_actualizar">Actualizar</button>
                            </div>

                        </div>
                    </form>

                </div>

            </div>

        </div>

    </section><!-- End Contact Section -->

{% endblock %}


